<nav class="navbar navbar-expand-lg navbar-dark barreNavigation fixed-top">
  <img class="logo" src="assets/images/velo.png" routerLink="tableau">
  <a class="navbar-brand" routerLink="tableau">App' Bike</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <span class="glyphicon glyphicon-list-alt"></span>
      <a class="nav-item nav-link liens" routerLinkActive="active" routerLink="tableau"><i class="material-icons">
        list
        </i>Liste des emplacements de vélos</a>
      <a class="nav-item nav-link liens" routerLinkActive="active" routerLink="carte"><i class="material-icons">
        place
        </i>Géolocalisation des emplacements de
        vélos</a>
    </div>
  </div>
</nav>
